@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
.mapContainer {
    position: relative;
    flex: 1;
    border-radius: 2px;
    overflow: hidden; 
    border-radius: 10px;
  }
  .map {
    height: 100%;
    background-color: white;
    padding-block: 5px;
    box-shadow: inset 0 0 12px 2px #eee;
    position: relative;
  }
.mapMark {
    background-color: #6D5BBE;
    width: 312px;
    border-radius: 8px;
    color: #eee;
    box-shadow: 0 4px 20px 0px #6d5bbe;
    word-wrap: break-word;
    padding: 10px;
    border:none;
}
.markColor {
    color: #47BC8A;
    font-weight: 700;
}
